<div>
  <h1 class="text-gray-500 text-2xl mb-3">Metas</h1>
  <p-card>
    <span
      >Total: <span class="font-bold">{{ calculateTotal() }}%</span></span
    >
    <ul *ngIf="marks.length" class="mt-3">
      <li *ngFor="let mark of marks" class="mb-3">
        {{ mark.label }}
        <p-inputNumber
          [(ngModel)]="mark.percentage"
          [inputId]="mark.category"
          suffix="%"
          [min]="0"
          [max]="100"
        >
        </p-inputNumber>
      </li>
    </ul>
    <p-button
      type="submit"
      label="Salvar"
      class="mt-3 w-full"
      (onClick)="handleSubmit()"
    ></p-button>
  </p-card>
</div>
